.idea
.DS_Store
notes.txt
psqlOnDocker/MockupDataGenerator/.idea
psqlOnDocker/MockupDataGenerator/env
psqlOnDocker/MockupDataGenerator/__pycache__
psqlOnDocker/.idea
psqlOnDocker/update_ordini.sql
.Rproj.user
R/.idea
R/.RData
R/.Rhistory
R/DataAnalysis.nb.html
report/.log
