.idea
.DS_Store
psqlOnDocker/MockupDataGenerator/.idea
psqlOnDocker/db/
psqlOnDocker/MockupDataGenerator/env
psqlOnDocker/MockupDataGenerator/__pycache__
psqlOnDocker/db
psqlOnDocker/.idea
.Rproj.user
R/.idea
R/.RData
R/.Rhistory
R/DataAnalysis.nb.html
report/.log
